<header class="border-b border-neutral-300 bg-white/80 backdrop-blur sticky top-0 z-50">
    <div class="max-w-6xl mx-auto px-6 h-16 flex items-center justify-between gap-4">
        <a href="/" class="text-2xl">⌂</a>

        <div class="hidden md:flex items-center border rounded-full px-4 py-2 w-56">
            <input
                type="text"
                placeholder="Search"
                class="outline-none w-full bg-transparent"
            />
        </div>

        <a href="/" class="font-serif text-2xl tracking-wide">
        hi, i'm nii
        </a>

        <div class="flex items-center gap-5">
            <button id="like-button" class="flex items-center gap-1">
                ♡ <span id="like-count">0</span>
            </button>

            <a href="/posts" class="border rounded-lg px-3 py-1">
                Post
            </a>

            <button class="border rounded-lg px-3 py-1">
                vi/en
            </button>
        </div>
    </div>
</header>